
{% if option == 1 %}
  <div class="disrupt-carousel_container">
    <div class="disrupt-carousel_wrapper">
      {%- for block in blocks limit: total_blocks -%}
        <div class="carousel-card_wrap {% if forloop.last %}only-dsk{% endif %}">
          <div>
            <div style="position: relative" class="{% if block.images[1]  %}hover-wrapper{% endif %}">
              <img class="carousel-product-img" src="{{ block.featured_media | image_url}}" >
              {% if block.images[1]  %}
              <img class="carousel-product-img img-hover" src="{{ block.images[1] | image_url}}" style="position:absolute; top: 0; left:0; width: 100%;">
              {% endif  %}

              <div class="aging-badge_wrapper">
              {% if block.metafields.custom.isvogue.value %}
                <div class="vogue-badge"><img src="https://cdn.shopify.com/s/files/1/0799/9488/0287/files/badge_vogue_white.png?v=1698397246"></div>
              {% endif %}

              {% if block.metafields.custom.isbestseller.value %}
                <div class="bestseller-badge">Best Seller</div>
              {% endif %}
              </div>
            </div>
            <div class="carousel-title">
              {{block.title}}
            </div>
            <div class="carousel-body">
              {{ block.metafields.custom.subheading }}
            </div>
            <div class="carousel-price">
              {{block.price | money_without_trailing_zeros}}
            </div>
          </div>

          <div class="carousel-shop-btn_wrapper">
            <a class="carousel-shop-btn" href="{{block.url}}">
              SHOP NOW
            </a>
          </div>
        </div>
        {% if forloop.last %}
        <div class="carousel-card_wrap {% if forloop.last %}only-mb{% endif %}">
          <div>
            <div style="height:57vw; overflow:hidden">
            <!--<img class="carousel-product-img" src="https://cdn.shopify.com/s/files/1/0799/9488/0287/files/9.jpg?v=1696563538" >-->
            <video controls autoplay loop muted style="width:100%;">
              <source src="https://cdn.shopify.com/videos/c/o/v/4111081bfa8944e788f54db3ab713035.mp4" type="video/mp4">
            </video>

            </div>
            <div class="carousel-title" style="font-style:italic; font-size: 20px !important; line-height:1.2">
              Shop our<br>Best Seller
            </div>

            <div class="carousel-shop-link_wrapper" style="margin-top:3px">
              <a class="carousel-shop-link" href="{{block.url}}" style="font-size:12px; line-height:14px; border-bottom: 1px solid #13613E;">
                VIEW MORE
              </a>
            </div>
            </div>
            <div class="carousel-shop-btn_wrapper">
              <a class="carousel-shop-btn" href="{{block.url}}">
                ESSENTIALS
              </a>
            </div>
        </div>
        {% endif %}

      

      {% endfor %}
    </div>
  </div>
{% elsif option == 2 %}
  <div class="disrupt-essential_container">
    <div class="disrupt-essential_wrapper">
      {%- for block in blocks limit: total_blocks -%}
        <div class="essential-card_wrap" style="display: flex; flex-direction: column;">
          <div>
            <img class="essential-product-img" src="{{block.featured_media | image_url}}" >
          </div>
          <div style="display:flex; justify-content:space-between; flex-direction: column">
            <a href="{{ block.url }}" class="essential-title">
              {{block.title}}
            </a>
            <div class="essential-price">
              {{block.price | money_without_trailing_zeros}}
            </div>
          </div>
          <div class="carousel-shop-btn_wrapper" style="flex: 1; display: flex; align-items: flex-end;">
            <a class="carousel-shop-btn" href="{{block.url}}">
              SHOP NOW
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}