<div class="disrupt-media-banner pd-{{section.settings.inner_padding_left_right}} pd-b-{{section.settings.inner_padding_bottom}}">
  <picture style="position:absolute; top:0; left:0; width:100%; height:100%; z-index: 1">
    <source media="(max-width:750px)" srcset="{{section.settings.image_mobile | image_url}}">
    <img src="{{section.settings.image_desktop | image_url}}" style="width:100%">
  </picture>

  <div class="disrupt-media-banner__wrapper">
    <div class="tp-banner-eyebrow">
      {{ section.settings.eyebrow }}
    </div>
    <div class="tp-banner-header">
      {{ section.settings.header }}
    </div>
    <div class="tp-banner-cta-container">
      <a class="tp-banner-cta" href="{{section.settings.link}}">
        {{ section.settings.cta }}
      </a>
    </div>
  </div>
</div>

<style>
  .header--root {
    background: transparent;
    border-color: transparent;
  }

  .disrupt-media-banner {
    width: 100%;
    height: 62.5vw;
    display: flex;
    overflow: hidden;
    position: relative;
    top: -117px;
  }

  .disrupt-media-banner__wrapper {
    width: 100%;
    height: fit-content;
    z-index: 5;
  }

  .tp-banner-eyebrow {
    font-family: acumin-pro;
    text-align: left;
    line-height: 48px;
    font-size: 30px;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: uppercase;
  }

  .tp-banner-header {
    text-align: left;
    font-size: 80px;
    line-height: 1.3;
    letter-spacing: 0;
    color: #FFFFFF;
    margin-top: 12px;
    font-family: ambroise-std;
  }

  .tp-banner-cta {
    font-family: acumin-pro;
    width: 290px;
    height: 80px;
    /* UI Properties */
    border: 2px solid #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0;
    color: #FFFFFF !important;
    text-transform: uppercase;
    opacity: 1;

  }

  .tp-banner-cta-container {
    margin-top: 48px;
  }

  .pd-185 {
    padding-left: 185px;
    padding-right: 185px;
  }

  .pd-b-166 {
    padding-bottom: 8.6vw;
    align-items: flex-end;
    margin-bottom: -117px;
  }

  @media(max-width: 1500px) {

    .tp-banner-eyebrow {
      text-align: left;
      line-height: 30px;
      font-size: 23px;
      letter-spacing: 0;
      color: #FFFFFF;
      text-transform: uppercase;
    }

    .tp-banner-header {
      text-align: left;
      font-size: 60px;
      line-height: 1;
      letter-spacing: 0;
      color: #FFFFFF;
      margin-top: 12px;
    }

    .tp-banner-cta {
      width: 304px;
      height: 70px;
      /* UI Properties */
      border: 1px solid #FFFFFF;

      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 23px;
      line-height: 1;
      letter-spacing: 0;
      color: #FFFFFF !important;
      text-transform: uppercase;
      opacity: 1;
    }


    .pd-185 {
      padding-left: 40px;
      padding-right: 40px;
    }

    .pd-b-166 {
      padding-bottom: 10.6vw;
      margin-bottom: -116px;
    }
  }


  @media(max-width: 750px) {

    .header--root {
      background: white;
      border-color: white;
    }

    .disrupt-media-banner {
      width: 100%;
      height: 133.3vw;
      display: flex;
      top: -71px;
    }

    .tp-banner-eyebrow {
      text-align: left;
      line-height: 48px;
      font-size: 12px;
      letter-spacing: 0;
      color: #FFFFFF;
      text-transform: uppercase;
    }

    .tp-banner-header {
      text-align: left;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: 0;
      color: #FFFFFF;
      margin-top: 12px;
    }

    .tp-banner-cta {
      width: 150px;
      height: 40px;
      /* UI Properties */
      border: 1px solid #FFFFFF;

      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0;
      color: #FFFFFF !important;
      text-transform: uppercase;
      opacity: 1;
    }

    .tp-banner-cta-container {
      margin-top: 12px;
    }

    .pd-185 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .pd-b-166 {
      padding-bottom: 10.6vw;
      margin-bottom: -71px;
    }
  }
</style>
{% schema %}
  {
    "name": "Disrupt media banner",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "Media Content"
      },
      {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Desktop image"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Mobile image",
        "info": "Leave it blank if no need to show different mobile image."
      },
      {
        "type": "header",
        "content": "Text banner settings"
      }, {
        "type": "text",
        "id": "eyebrow",
        "label": "Eyebrow",
        "default": "TE MEETS NATURE"
      }, {
        "type": "text",
        "id": "header",
        "label": "Header",
        "default": "New Innovative Well-aging Skincare"
      }, {
        "type": "text",
        "id": "cta",
        "label": "CTA",
        "default": "SHOP NOW"
      }, {
        "type": "url",
        "id": "link",
        "label": "CTA Link"
      }, {
        "type": "header",
        "content": "Media banner settings"
      }, {
        "type": "select",
        "id": "inner_padding_left_right",
        "options": [
          {
            "value": "none",
            "label": "none"
          }, {
            "value": "185",
            "label": "185"
          }, {
            "value": "20",
            "label": "20"
          }
        ],
        "default": "185",
        "label": "Inner padding left and right"
      }, {
        "type": "select",
        "id": "inner_padding_bottom",
        "options": [
          {
            "value": "none",
            "label": "none"
          }, {
            "value": "166",
            "label": "166"
          }
        ],
        "default": "166",
        "label": "Inner padding bottom"
      }, {
        "type": "color",
        "id": "background_color",
        "label": "Background color"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text color"
      }, {
        "type": "select",
        "id": "content_alignment_horizontal",
        "options": [
          {
            "value": "left",
            "label": "left"
          }, {
            "value": "center",
            "label": "center"
          }, {
            "value": "right",
            "label": "right"
          }
        ],
        "default": "left",
        "label": "Content alignment(horizontal)"
      }, {
        "type": "select",
        "id": "text_alignment",
        "options": [
          {
            "value": "left",
            "label": "left"
          }, {
            "value": "center",
            "label": "center"
          }, {
            "value": "right",
            "label": "right"
          }
        ],
        "default": "left",
        "label": "Text alignment"
      }, {
        "type": "header",
        "content": "Section spacing"
      }, {
        "type": "select",
        "id": "section_spacing",
        "options": [
          {
            "value": "none",
            "label": "none"
          }, {
            "value": "150",
            "label": "150"
          }, {
            "value": "60",
            "label": "60"
          }
        ],
        "default": "150",
        "label": "Spacing between sections"
      }, {
        "type": "header",
        "content": "Section page width size"
      }, {
        "type": "select",
        "id": "media_width_size",
        "options": [
          {
            "value": "full",
            "label": "Full"
          }, {
            "value": "960",
            "label": "960"
          }, {
            "value": "1200",
            "label": "1200"
          }
        ],
        "default": "full",
        "label": "Media part width size"
      }, {
        "type": "select",
        "id": "text_width_size",
        "options": [
          {
            "value": "full",
            "label": "Full"
          }, {
            "value": "960",
            "label": "960"
          }, {
            "value": "1200",
            "label": "1200"
          }
        ],
        "default": "960",
        "label": "Text part width size"
      }
    ],
    "presets": [
      {
        "name": "Disrupt media banner"
      }
    ]
  }
{% endschema %}