{%- liquid
  assign email_placeholder_t = 'sections.newsletter.email_placeholder' | t
  assign button_t = 'sections.newsletter.button' | t

  assign form_id = 'newsletter--' | append: section.id
  assign heading = section.settings.heading | escape
  assign subheading = section.settings.newsletter--subheading

  assign button_type = 'button'
  if light_text
    assign button_type = 'inverted-button'
  endif

  render 'section-assets', name: 'newsletter', type: 'style'
-%}

<style>
  {% if section.settings.background_color != blank %}
    .newsletter--root-{{section.id}} {
      background-color: {{ section.settings.background_color }};
    }
  {% endif %}

  {% if section.settings.text_color != blank %}
    .newsletter--root-{{section.id}} {
      color: {{ section.settings.text_color }};
    }
  {% endif %}

  {% if section.settings.border_bottom %}
    .newsletter--root-{{section.id}} {
      border-bottom: 1px solid #13613E;
    }
  {% endif %}

  {% if section.settings.inner_padding_top_desktop != blank %}
    .newsletter--root-{{section.id}} {
      padding-top: {{section.settings.inner_padding_top_desktop}}px;
    }
  {% endif %}

  {% if section.settings.inner_padding_bottom_desktop != blank %}
    .newsletter--root-{{section.id}} {
      padding-bottom: {{section.settings.inner_padding_bottom_desktop}}px;
    }
  {% endif %}

  @media (max-width: 750px) {
    {% if section.settings.inner_padding_top_mobile != blank %}
      .newsletter--root-{{section.id}} {
        padding-top: {{section.settings.inner_padding_top_mobile}}px;
      }
    {% endif %}
  
    {% if section.settings.inner_padding_bottom_mobile != blank %}
      .newsletter--root-{{section.id}} {
        padding-bottom: {{section.settings.inner_padding_bottom_mobile}}px;
      }
    {% endif %}
  }
</style>

<div
  class="newsletter--root newsletter--root-{{section.id}}"
  data-section-id="{{ section.id }}"
>
  <div class="newsletter--wrapper" data-container="block">
    {%- if heading != blank -%}
      <h2 class="newsletter--heading amb-font" data-item="section-heading">
        {{- heading -}}
      </h2>
    {%- endif -%}

    {%- if subheading != blank -%}
      <div class="newsletter--subheading acu-font" data-item="rte-content">
        {{- subheading -}}
      </div>
    {%- endif -%}

    <div class="newsletter--body">
      {%- form 'customer', id: form_id, class: 'newsletter--form' -%}
        <div class="newsletter--inputs">
          <input type="hidden" name="contact[tags]" value="newsletter"/>
          <div class="newsletter--formBox">
            <label for="newsletter-email" class="acu-font">
              {{- email_placeholder_t -}}
            </label>
            <input
              class="newsletter--email acu-font"
              id="newsletter-email"
              name="contact[email]"
              type="email"
              autocomplete="email"
              required
            />
          </div>
          <button type="submit" value="{{ button_t }}" class="acu-font">
            {{- button_t -}}
          </button>
        </div>

        {%- if form.errors -%}
          <p class="newsletter--failure">
          {%- for field in form.errors -%}
            {{- field }} {{ form.errors.messages[field] -}}
          {%- endfor -%}
          </p>
        {%- endif -%}

        {%- if form.posted_successfully? -%}
          <script>window.location.hash = '#feedback-bar--newsletter';</script>
        {%- endif -%}

        <div data-item="hidden-text">
          {%- comment -%} remove the below line to display reCAPTCHA badge {%- endcomment -%}
          {{- 'shopify.online_store.spam_detection.disclaimer_html' | t -}}
        </div>
      {%- endform -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Newsletter",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color"
      },
      {
        "type": "header",
        "content": "Section spacing"
      },
      {
        "type": "text",
        "id": "inner_padding_top_desktop",
        "label": "Above section spacing in Desktop",
        "default": "72"
      },
      {
        "type": "text",
        "id": "inner_padding_top_mobile",
        "label": "Above section spacing in Mobile",
        "default": "32"
      },
      {
        "type": "text",
        "id": "inner_padding_bottom_desktop",
        "label": "Below section spacing in Desktop",
        "default": "72"
      },
      {
        "type": "text",
        "id": "inner_padding_bottom_mobile",
        "label": "Below section spacing in Mobile",
        "default": "32"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Subscribe to our newsletter"
      },
      {
        "type": "richtext",
        "id": "newsletter--subheading",
        "label": "Subheading",
        "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
      },
      {
        "type": "paragraph",
        "content": "Customers who subscribe will have their email address added to the “accepts marketing” [customer list](/admin/customers?query=&accepts_marketing=1)"
      },
      {
        "type": "checkbox",
        "id": "border_bottom",
        "label": "Border bottom",
        "default": false
      }
    ],
    "blocks" : [],
    "presets": [{
      "name": "Newsletter"
    }]
  }
{% endschema %}
